.passwordResetForm{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pwResetBox{
    /* border:2px solid grey; */
    padding:2em;
    margin: 3em;
    box-shadow: 4px 3px 10px grey;
}

.pwresetEmail{
    width: 350px;
    font-size: 20px;
    padding: 0.7em;
    border-radius: 0.5em;
}

.pwresetButton{
    margin: 1.3em 0em;
    border: none;
    background-color: #0075C3;
    font-size: 1.1em;
    padding: 0.5em 1.9em;
    border-radius: 0.3em;
    color: whitesmoke;
}